header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.logo_imagem {
    position: relative;
    width: 100px;
    height: 100px;
}

.lupa {
    position: relative;
    width: 40px;
    height: 40px;
}

.menu_header {
    position: relative;
    width: 40%;
    height: auto;
    display: flex;
    justify-content: space-between;
}