div {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
}

.header_esquerdo {
    position: relative;
    width: 20%;
    height: 10rem;
    background-color: blue;
}

.header_direito {
    position: relative;
    width: 80%;
    height: 10rem;
    background-color: red;
}