header {
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}
