
.vermelho {
    width: 95%;
    height: 360px;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-bottom: 15px;

    & .rosa {
        background-color: rgba(236, 193, 145, 0.52);
        width: 45%;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: start;
    }

    & img {
        width: 42%;
        object-fit: cover;
    }

    & h1 {
        color: white;
        font-size: 19px;
        margin-bottom: 20px;
    }

    & p {
        color: white;
        font-size: 14px;
        
    }
}

@media screen and (max-width: 880px) {
    .vermelho {
        align-items: center;
        flex-direction: column;
        height: auto; 
        gap: 15px; 
    }

   
    .vermelho .rosa {
        margin-top: 10px;
        width: 90%; 
        height: auto; 
    }
    
    .vermelho img {
        width: 650px;
        margin-bottom: 10px; 
    }

}
    